# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Denny-Jo\Desktop\Uni\Level 6\CT6042 Secure Coding\Vulnerable_Source_Code\CT6042_Clone\CT6042_Clone\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
